<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Outbound Inventory</h3>
    </div>
    <form [formGroup]="customForm" (ngSubmit)="onSubmit()">
        <div class="box-body">

            <div class="row">
                <div class="form-group col-md-3" *ngFor="let data of formData">
                    <label for="{{data.for}}">{{data.label}}</label>
                    <input *ngIf="data.control=='input'" type="{{data.type}}" class="form-control" id="{{data.id}}"
                        placeholder="{{data.placeholder}}" formControlName="{{data.control_name}}">

                    <button *ngIf="data.control=='button'" type="{{data.type}}" class="form-control" id="{{data.id}}"
                        formControlName="{{data.control_name}}"></button>

                    <select *ngIf="data.control=='select'" class="form-control" id="{{data.id}}"
                        formControlName="{{data.control_name}}">
                        <option *ngFor="let item of data.array" [value]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit">Submit</button>
        </div>
        {{customForm.value | json}}
    </form>
</div>
