<div class="login-box">
    <div class="login-logo">
        <a><b>Good</b>will</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Forgot Password</p>
        <form action="forgot-password" method="post">
            <input type="hidden" name="_token" value="zNcQEuLd2xEkxZJdnx89SXRFTydQEJXACleOBWZi">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email" name="email" required>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-4 pull-right">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Send Code</button>
                </div>
            </div>
        </form>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->