<form [formGroup]="locationForm" (ngSubmit)="onSubmit()">

  <div>
    <label>
      Name:<input type="text" formControlName="name">
    </label>
  </div>

  <div>
    <label>
      Address:
      <input type="text" formControlName="address">
    </label>
  </div>

  <div>
    <label>
      City:
      <input type="text" formControlName="city">
    </label>
    <br></div>

  <div><label>
      State:
      <input type="text" formControlName="state">
    </label>
    <br></div>

  <div><label>
      Zipcode:
      <input type="text" formControlName="zipcode">
    </label>
    <br></div>

  <div><label>
      Location Number:
      <input type="text" formControlName="location_number">
    </label>
    <br></div>

  <!-- <div><label>Regions:
      <select formcontrolname="regions">
        <option value="outlets-transportaion">Outlets&Transportation</option>
        <option value="region01">Region01</option>
        <option value="florida">Florida</option>
        <option value="alabama">Alabama</option>
      </select>
    </label>
    <br></div> -->

  <div>
    <label>Region:</label>
    <select formControlName="region_id">
      <option *ngFor="let region of regions" [value]="region.id">{{region.name}}</option>
    </select>
  </div>

  <div class="input number">
    <label for="trailer-bays">Trailer Bays</label><input type="number" name="trailer_bays" id="trailer-bays">
  </div>

  <!-- <div><label>Location Type:
      <select formcontrolname="location_type">
        <option value="store">Store</option>
        <option value="warehouse">Warehouse</option>
        <option value="adc">ADC</option>
      </select>
    </label>
    <br></div> -->

    <div>
      <label>Location-types:</label>
      <select formControlName="location_type_id">
        <option *ngFor="let location_type of location_types" [value]="location_type.id">{{location_type.name}}</option>
      </select>
    </div>

  <button type="submit" [disabled]="!locationForm.valid">Submit</button>

</form>
