
    <section class="sidebar">
  
        <ul class="sidebar-menu" data-widget="tree">
    
          <li class="active treeview menu-open">
            <a href="#">
              <i class="fa fa-dashboard"></i> <span>Location</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="index.html"><i class="fa fa-circle-o"></i> Location List</a></li>
              <li class="active"><a href="index2.html"><i class="fa fa-circle-o"></i> New Location</a></li>
            </ul>
          </li>
        </ul>
    
      </section>
  